<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          {{ temperature$ | async }}<span class="unit">°C</span>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card">
        <div class="card-content">
          {{ humidity$ | async }}<span class="unit">%</span>
        </div>
      </div>
    </div>

    <div class="col s12">
      <div class="card">
        <div class="card-content">
          <p-chart type="line"
          [data]="chartData$ | async"
          [options]="basicOptions">
        </p-chart>
        <div class="latest-measurement valign-wrapper">
          <div class="col s6 m9">
            {{ latestMeasurement$ | async }}
          </div>
          <div class="col s6 m3 right-align">
            <p-dropdown [options]="timeSpans"
                        [ngModel]="fetchMinutes$ | async" (onChange)="selectedTimeSpanChanged($event)"
                        optionLabel="label" optionValue="minutes">
            </p-dropdown>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<a class="btn btn-floating btn-large"
   (click)="refresh()" >
  <i class="material-icons">autorenew</i>
</a>
