<div class="flex flex-1 flex-column">
  <div class="card">
    {{ temperature$ | async }}<span class="unit">°C</span>
  </div>

  <div class="card">
    {{ humidity$ | async }}<span class="unit">%</span>
  </div>

  <div class="flex flex-column flex-1">
    <div class="flex-1"></div>
      <div class="card">
        <p-chart type="line"
                [data]="chartData$ | async"
                [options]="basicOptions">
        </p-chart>
      </div>
    <div class="flex-1"></div>
  </div>
</div>
