/* You can add global styles to this file, and also import other style files */
html
  height: 100%
  color: rgba(255, 255, 255, 0.87)
  background-color: #121212

body
  height: 100%
  margin: 0

.unit
  color: rgba(255, 255, 255, 0.6)

app-root
  display: flex
  height: 100%

.flex
  display: flex

.flex-column
  flex-direction: column

.flex-1
  flex-grow: 1
